<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>Events</title>
</head>
<body style = "background-color:rgb(66, 20, 66);">
    <nav class ="navbar-light navbar navbar-expand-sm p-2" style = "background-color: rgb(97, 96, 96);">
        <div class ="container" style = "background-color:rgb(97, 96, 96);">
            <span class = "navbar-brand mb-0 display-2"><h2 class = 'bgImg'>Boundless Events</h2></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if 'user_id' in session %}
            <div  class = "reference_header" tabindex = "0">
                <div class = 'd-flex justify-content-start'>
                <img class ="rounded-circle account-img" style = "height:50px; width:auto" src="{{profile_pics}}{{session['user_picture']}}" alt="Profile_picture">
                <span class="navbar-brand mb-0 ml-1 display-2" id = "gradient-text" style= "color:rgb(231, 245, 35);"><h4>Welcome {{user.first_name}} {{user.last_name}}</h4></span>
                </div>
                <div class = 'popout-menu_header nav-link border-0 mx-3 px-4'> 
                    <a style = "color:white;" href="/user/{{session['user_id']}}">Edit Account</a>
                </div>
            </div>
            {% endif %}
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class = "navbar-nav">
                    {% if 'user_id' not in session %}
                    <li class = "nav-item">
                        <a class ="nav-link border-0 mx-3 px-4 navbar_button" style = "color:white" href = "/login" id = 'navbar_button'>Login</a>
                    </li>
                    <li class = "nav-item">
                        <a class ="nav-link border-0 mx-3 px-4 navbar_button" style = "color:white" href = "/registration" id = 'navbar_button'>Register</a>
                    </li>  
                    {% endif %}
                    {% if 'user_id' in session %}
                    <li class = "nav-item">
                        <a class ="nav-link border-0 mx-3 px-4 navbar_button" style = "color:white" href = "/logout" id = 'navbar_button'>Logout</a>
                    </li>
                    <li class = "nav-item">
                        <a class ="nav-link border-0 mx-3 px-4 navbar_button" style = "color:white" href = "/dashboard" id = 'navbar_button'>Dashboard</a>
                    </li>
                    {% endif %}
                    <li class = "nav-item">
                        <a class ="nav-link border-0 mx-3 px-4 navbar_button" style = "color:white" href = "/" id = 'navbar_button'>home</a>
                    </li>
                    <li class = "nav-item">
                        <form class = "d-flex justify-content-end my-2 my-lg-0" action = "/show_result" method="GET">
                            <input  class = "form-control mr-sm-2 pd-5"type="text" type = 'search' placeholder = "Search" name = "search">
                            <button type = 'submit' class = "form-control border-0 mx-1 px-1 navbar_button" id = "navbar_button">Submit</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(category_filter=["success"]) %}     <!-- declare a variable called messages -->
        {% if messages %}                            <!-- check if there are any messages -->
            {% for message in messages %}            <!-- loop through the messages -->
                <h2 class = "text-success text-center font-weight-bold mt-2">{{message}}</h2>                   <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if 'user_id' in session %}
    <div class = "container">
        <div class="card mb-4 mt-4" style = "background-color:rgb(97, 96, 96);">
            <div class="card-header" style = "background-color: rgb(61, 61, 61);">
                <h2 id = "gradient-text">{{events.name}}</h2>
            </div>
            <div class="card-body d-flex flex-wrap justify-content-between">
                <div id = "old_container">
                <h5 class="card-title mt-4">{{events.description}}</h5>
                {% set date_time = events.date_time.split(' ') %}
                <p class="card-text mt-4">Event is {{date_time[0]}} @ {{date_time[1]}} {{date_time[2]}}</p>
                <span id = 'conditional_no_attending_status'>{% if attending_status.attending ==  null or attending_status.attending == 'undefined' %}</span>
                <form id = "form_status_add" action="/add_attending_status" method="post">
                    <div class="dropdown">
                        <p id = 'edit_paragraph'class="edit_button mb-1" value = 'Change attending status:'>Change Attending Status:</p>
                        <input id = 'event_id' type = 'hidden' name = 'event_id' value='{{events.id}}'>
                        <input id = 'user_id' type="hidden" name = 'user_id' value = "session['user_id']">
                        <ul class="dropdown-content" id = 'dropdown'>
                            <li value = 'going'>Attending</li>                            
                            <li value = 'not_going'>Not Attending</li>
                            <li value= 'maybe'>Maybe</li>
                        </ul>
                        <input type = 'hidden' name = 'attending_status' id = 'status_hidden' value = ''>
                    </div>
                    <input type = 'submit' id = 'search_button_hide' onclick = "addAttendingStatus()">
                </form>
                <span id = 'else'>{% else %}</span>
                <form id = "form_status_change" action="/change_attending_status" method="post">
                    <div class="dropdown mb-5">
                        <p class="edit_button mb-1" >Change Attending Status:</p>
                        <input id = 'event_id' type = 'hidden' name = 'event_id' value='{{events.id}}'>
                        <input id = 'user_id' type="hidden" name = 'user_id' value = "session['user_id']">
                        <ul class="dropdown-content" id = 'dropdown'>
                            <li value = 'Attending'>Attending</li>                            
                            <li value = 'Not Attending'>Not Attending</li>
                            <li value= 'Maybe'>Maybe</li>
                        </ul>
                        <input type = 'hidden' name = 'attending_status' id = 'status_hidden' value = ''>
                        <input type = 'submit' id = 'search_button_hide' onclick = "updateAttendingStatus()">
                    </div>
                </form>
                <span id = 'endif'>{% endif %}</span>
                {% if attending_status.attending ==  null or attending_status.attending == 'undefined' %}
                <br>
                <br>
                {%endif%}
                <div id = "new_attending_status"></div>
                <div style = "margin-bottom:20%;" id = "attending_status_container">
                    <div style = 'margin-bottom:10%' class="dropdown mt-5">
                        <button class="edit_button mb-1"  >Attending: ({{attending|count}})</button>
                        <ul class = "ul_style">
                            {% for user in attending %}
                            <li>
                                <p>{{user.creator.first_name}} {{user.creator.last_name}}</p>
                                <img class ="rounded-circle account-img" style = "height:25px; width:auto" src="{{profile_pics}}{{user.creator.user_picture}}" alt="Profile_picture">
                            </li>                            
                            {% endfor %}
                        </ul>
                    </div>
                    <div class = "dropdown mt-5">
                        <button class="edit_button mb-1" >Not Attending: ({{not_attending|count}})</button>
                        <ul class = "ul_style">
                            {% for user in not_attending %}
                            <li>
                                <p>{{user.creator.first_name}} {{user.creator.last_name}}</p>
                                <img class ="rounded-circle account-img" style = "height:25px; width:auto" src="{{profile_pics}}{{user.creator.user_picture}}" alt="Profile_picture">
                            </li>                            
                            {% endfor %}
                        </ul>
                    </div>
                    <div class = "dropdown mt-5">
                        <button class="edit_button mb-1" >Maybe Attending: ({{maybe_attending|count}})</button>
                        <ul class = "ul_style">
                            {% for user in  maybe_attending %}
                            <li>
                                <p>{{user.creator.first_name}} {{user.creator.last_name}}</p>
                                <img class ="rounded-circle account-img" style = "height:25px; width:auto" src="{{profile_pics}}{{user.creator.user_picture}}" alt="Profile_picture">
                            </li>                            
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                </div>
                <div>
                    <div id = 'map' class = 'mt-2' style= 'width:200px; height:300px'></div>
                </div>
                <div>
                    <img src="{{event_image_file}}{{events.picture}}" alt="Event Picture" class = 'img-fluid pt-2' style = "height:10rem; width:auto;">
                    <p id = 'address' name = 'address' value = '{{events.address}}'class = 'mt-2'>Address: {{events.address}}</p>
                    <p class = 'mt-2' id = 'status_id_new'></p>
                    {% if attending_status.attending != null %}
                    <p class = 'mt-2' id = 'status_id'>Your Status: {{attending_status.attending}}</p>
                    {% endif %} 
                    {% if session['user_id'] == events.user_id  %}
                    <a class = 'edit_button mt-2' href="/edit_event/{{events.id}}">Edit Event</a>
                    <a class = 'edit_button mt-2' href ="/destroy_event/{{events.id}}">Delete Event</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if 'user_id' not in session %}
        <div class = "container">
            <h1 id = "gradient-text" class = "text-center mt-3">{{events.type}} Events</h1>
            <div class="card mb-4" style = "background-color:rgb(97, 96, 96);">
                <div class="card-header" style = "background-color: rgb(61, 61, 61);">
                    <h2 id = "gradient-text">{{events.name}}</h2>
                </div>
                <div class="card-body d-flex flex-wrap justify-content-between">
                    <div id = "old_container">
                    <h5 class="card-title mt-4">{{events.description}}</h5>
                    {% set date_time = events.date_time.split(' ') %}
                    <p class="card-text mt-4">Event is {{date_time[0]}} @ {{date_time[1]}} {{date_time[2]}}</p>
                    <form action="/add_attending_status" method="post" id = 'status_form'>
                        <div class="dropdown mb-5">
                            <p class="edit_button mb-1" >Change Attending Status:</p>
                            <input id = 'event_id' type = 'hidden' name = 'event_id' value='{{events.id}}'>
                            <ul class="dropdown-content" id = 'dropdown'>
                                <li value = 'Attending'>Attending</li>                            
                                <li value = 'Not Attending'>Not Attending</li>
                                <li value= 'Maybe'>Maybe</li>
                            </ul>
                            <input type = 'hidden' name = 'attending_status' id = 'status_hidden' value = ''>
                            <input type = 'submit' id = 'search_button_hide' onclick = "addAttendingStatus()">
                        </div>
                    </form>
                    <br>
                    <br>
                    <div>
                        <div class="dropdown mt-5">
                            <button class="edit_button mb-1"  >Attending: ({{attending|count}})</button>
                            <ul class = "ul_style">
                                {% for user in attending %}
                                <li>
                                    <p>{{user.creator.first_name}} {{user.creator.last_name}}</p>
                                    <img class ="rounded-circle account-img" style = "height:25px; width:auto" src="{{profile_pics}}{{user.creator.user_picture}}" alt="Profile_picture">
                                </li>                            
                                {% endfor %}
                            </ul>
                        </div>
                        <div class = "dropdown mt-5">
                            <button class="edit_button mb-1" >Not Attending: ({{not_attending|count}})</button>
                            <ul class = "ul_style">
                                {% for user in not_attending %}
                                <li>
                                    <p>{{user.creator.first_name}} {{user.creator.last_name}}</p>
                                    <img class ="rounded-circle account-img" style = "height:25px; width:auto" src="{{profile_pics}}{{user.creator.user_picture}}" alt="Profile_picture">
                                </li>                            
                                {% endfor %}
                            </ul>
                        </div>
                        <div class = "dropdown mt-5">
                            <button class="edit_button mb-1" >Maybe Attending: ({{maybe_attending|count}})</button>
                            <ul class = "ul_style">
                                {% for user in  maybe_attending %}
                                <li>
                                    <p>{{user.creator.first_name}} {{user.creator.last_name}}</p>
                                    <img class ="rounded-circle account-img" style = "height:25px; width:auto" src="{{profile_pics}}{{user.creator.user_picture}}" alt="Profile_picture">
                                </li>                            
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    </div>
                    <div>
                        <div id = 'map' class = 'mt-2' style= 'width:200px; height:300px'></div>
                    </div>
                    <div>
                        <img src="{{event_image_file}}{{events.picture}}" alt="Event Picture" class = 'img-fluid' style = "height:10rem; width:auto;">
                        <p id = 'address' name = 'address' value = '{{events.address}}'class = 'mt-2'>Address: {{events.address}}</p>
                    </div>
                </div>
            </div>
            {% endif %}
        {% with errors = get_flashed_messages(category_filter=['error']) %}     <!-- declare a variable called messages -->
            {% if errors %}                            <!-- check if there are any messages -->
                {% for message in errors %}            <!-- loop through the messages -->
                <h2 class = "text-danger text-center font-weight-bold">{{message}}</h2>                  <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <footer style = "position:absolute; left: 0; right: 0; width: 100%;height:80px; margin-top:10%; background-color: rgb(97, 96, 96);">
        <div class="footer-copyright text-center py-3 mt-3">© 2018 Copyright:
            <a href="#"> Boundless Events</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaTjiOPI0gmdWdXPfjE0Ex5HwuQxwgjpE&callback=codeAddress"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src = "{{ url_for('static',filename='logic.js') }}"></script>
    </body>